.dropColumnContainer {
  display: flex;
  align-items: center;
}

.dropColumn {
  width: 100%;
  padding: 10px;
  height: 522px;
  max-height: 522px;
  overflow: auto;
  border-radius: 8px;
}

.item {
  padding: 10px !important;

  &:not(:first-child) {
    margin-top: 10px !important;
  }
}