.dropColumnContainer {
  display: flex;
  align-items: center;
}

.dropColumn {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border: 1px dotted gray;
}

.item {
  padding: 10px !important;

  &:not(:first-child) {
    margin-top: 10px !important;
  }
}