html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    background: linear-gradient(90deg, rgba(40,32,181,1) 0%, rgba(155,144,255,1) 31%, rgba(115,122,255,1) 100%);
}

* {
    box-sizing: border-box;
}